* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

nav a {
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
}

.flex-mode {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    .flex-mode > div {
        padding: 20px;
    }

nav {
    padding: 20px;
}

    nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    nav > ul > li {
        flex-grow: 1;
    }

img {
    width: 150px;
}

.fetch-books {
    width: 300px;
}

.info-books {
    padding-top: 10px;
}